.registration__form {
  width: 384px;
  height: 619px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 59px auto;
  padding: 48px 0 20px;
}