$successColor: #52c41a;
$hoverColor: #1890FF;
$darkColor: #082443;

.authorize-button {
  width: 109px;
  height: 51px;

  font-size: 18px;
  background-color: inherit;
  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;

  transition: all .3s ease;

  &:hover {
    border-color: $hoverColor;
    color: $hoverColor;
    transform: scale(1.1);
  }
  
  .authorize-button__link {
    text-decoration: none;
    color: black;
  }
}

.authorize-button--success {
  border-color: $successColor;
  color: $successColor;

  .authorize-button__link {
    color: inherit;
  }
}

.authorize-button--dark {
  border-color: $darkColor;
  color: $darkColor;

  .authorize-button__link {
    color: inherit;
  }
}

.authorize-button--create-article {
  border-color: $successColor;
  color: $successColor;
  height: 31px;
  font-size: 14px;

  .authorize-button__link {
    color: inherit;
    width: 100%;
    height: 100%;
  }
}