$successColor: #52c41a;
$hoverColor: #1890FF;

.authorize-button {
  width: 109px;
  height: 51px;

  font-size: 18px;
  background-color: inherit;
  border: 1px solid #ffffff;

  cursor: pointer;

  transition: all .3s ease;

  &:hover {
    border-color: $hoverColor;
    color: $hoverColor;
    transform: scale(1.1);
  }
  
  .authorize-button__link {
    text-decoration: none;
    color: black;
  }
}

.authorize-button--success {
  border-color: $successColor;
  color: $successColor;

  .authorize-button__link {
    color: inherit;
  }
}