.article__page {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;

  .article__body {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
  }
}

.empty {
  width: 500px;
  height: 500px;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}